# `numpy`

`numpy` is a widely used package in data science community which allows us work efficiently with arrays and matrics in Python.

In [7]:
import numpy as np

We can create a list and converting it to a `numpy` array.

In [3]:
mylist = [1,2,3]
x = np.array(mylist)
x

array([1, 2, 3])

In [4]:
y = np.array([4,5,6])
y

array([4, 5, 6])

In [6]:
m = np.array([x,y])
m

array([[1, 2, 3],
       [4, 5, 6]])

In [7]:
m.shape

(2, 3)

For the `arange` function, we pass in a start, stop and a step size, and it returns evenly spaced values within a given interval.

In [8]:
n = np.arange(0,30,2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [10]:
n = n.reshape(3,5)
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

The `linspace` function is similar to arange, except we tell it how many numbers we want returned and it will split up the interval accordingly.

In [12]:
o = np.linspace(0, 4, 9)
o

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

In [14]:
# use resize to change the dimensions in place
o.resize(3,3)
o

array([[ 0. ,  0.5,  1. ],
       [ 1.5,  2. ,  2.5],
       [ 3. ,  3.5,  4. ]])

In [21]:
np.ones([2,3])

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

In [22]:
np.zeros([2,3])

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [17]:
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [18]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [19]:
np.repeat([1,2],3)

array([1, 1, 1, 2, 2, 2])

In [20]:
np.array([1,2]*3)

array([1, 2, 1, 2, 1, 2])

We can also combine arrays to create new ones. let't create a 2x3 array of ones and stack it vertically or horizontally with itself, multiplied by 2.

In [23]:
p = np.ones([2,3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [25]:
np.vstack([p,2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [26]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

# Operations

In [32]:
x

array([1, 2, 3])

In [33]:
y

array([4, 5, 6])

In [34]:
x+y

array([5, 7, 9])

In [28]:
x * y

array([ 4, 10, 18])

In [29]:
x**2

array([1, 4, 9])

In [30]:
x.dot(y)

32

In [36]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [37]:
z.shape

(2, 3)

In [38]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [39]:
z.dtype

dtype('int64')

In [40]:
z = z.astype('f')
z.dtype

dtype('float32')

In [42]:
a = np.array([2,5,-4,2])

In [43]:
a.sum()

5

In [44]:
a.min()

-4

In [45]:
a.mean()

1.25

In [46]:
a.std()

3.2691742076555053

In [47]:
# index of the maximum value
a.argmax()

1

# Indexing/Slicing

In [49]:
s = np.arange(5)*2
s

array([0, 2, 4, 6, 8])

In [54]:
s[0], s[1], s[0:3]

(0, 2, array([0, 2, 4]))

In [55]:
s[-5:-2]

array([0, 2, 4])

In [60]:
r = np.arange(36)
r.resize((6,6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [57]:
r[2,2]

14

In [61]:
r[r>30]

array([31, 32, 33, 34, 35])

In [63]:
r[r>30] = 30

In [64]:
r_copy = r.copy()
r_copy

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [65]:
r_copy[:] = 10

In [66]:
print(r_copy)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

# Iterating Over Arrays

In [67]:
test = np.random.randint(0,10,(4,3))
test

array([[4, 5, 7],
       [0, 1, 1],
       [3, 4, 9],
       [0, 7, 3]])

In [68]:
for row in test:
    print(row)

[4 5 7]
[0 1 1]
[3 4 9]
[0 7 3]

In [69]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [4 5 7]
row 1 is [0 1 1]
row 2 is [3 4 9]
row 3 is [0 7 3]

In [72]:
test2 = test**2
test2

array([[16, 25, 49],
       [ 0,  1,  1],
       [ 9, 16, 81],
       [ 0, 49,  9]])

In [73]:
for i,j in zip(test, test2):
    print(i, '+', j, '=', i+j)

[4 5 7] + [16 25 49] = [20 30 56]
[0 1 1] + [0 1 1] = [0 2 2]
[3 4 9] + [ 9 16 81] = [12 20 90]
[0 7 3] + [ 0 49  9] = [ 0 56 12]

In [1]:
['a','b','c']+[1,2,3]

['a', 'b', 'c', 1, 2, 3]

In [8]:
r = np.arange(36)
r.resize((6,6))
r.reshape(36)[::7]

array([ 0,  7, 14, 21, 28, 35])