# Tuples

- General form of a tuple: `(expr1, expr2, ..., expr_n)`
- can't change tuple. It is immutable.
- `dir(tuble)`

In [6]:
tup = ('a', 3, -0.2)

In [7]:
tup[0]

'a'

In [8]:
tup[:2]

('a', 3)

**for loop over a tuple**

<pre>
for variable in tuple:
    body
</pre>

`len(list)`: return the number of items in `list`

In [11]:
for i in range(len(tup)):
    print(tup[i])

a
3
-0.2

# Type dict

`dict`: Python's dictionary type

**General form of a dictionary:**

`{key1: value1, key2: value2, ..., keyN: valueN}`

Keys must be unique. Values may be duplicated.

In [45]:
asn_to_grade = {'A1': 80, 'A3': 70, 'A2': 90}
asn_to_grade['A2']

90

| **Operator**| **Symbol**|
|-------------|-----------|
|`in`|contains|

In [27]:
'A4' in asn_to_grade

False

`len(dict)`: return the number of key-value pairs in `dict`

In [28]:
len(asn_to_grade)

3

dictionaries are mutable

In [29]:
asn_to_grade['A4']=85
asn_to_grade

{'A1': 80, 'A2': 90, 'A3': 70, 'A4': 85}

In [30]:
asn_to_grade['A4']=90
asn_to_grade

{'A1': 80, 'A2': 90, 'A3': 70, 'A4': 90}

In [31]:
del asn_to_grade['A4']
len(asn_to_grade)

3

In [32]:
asn_to_grade

{'A1': 80, 'A2': 90, 'A3': 70}

In [33]:
for assignment in asn_to_grade:
    print(assignment)

A1
A3
A2

dictionaries are unordered

In [34]:
for assignment in asn_to_grade:
    print(asn_to_grade[assignment])

80
70
90

In [35]:
for assignment in asn_to_grade:
    print(assignment, asn_to_grade[assignment])

A1 80
A3 70
A2 90

In [36]:
d = {'apple': 2,5:8}

- keys must be immutable
- so you can't use `list` as key
- but you can use `tuple` as key because `tuple` is immutable

In [38]:
d[[1,2]] = 'banana'

TypeError: unhashable type: 'list'

In [39]:
d[(1,2)]="banana"

In [46]:
def increment_values(d):
    ''' (dict with number values) -> NoneType
    
    Increase each value in d by 1.
    '''
    for k in d:
        d[k] = d[k] +1

In [47]:
increment_values(asn_to_grade)
asn_to_grade

{'A1': 81, 'A2': 91, 'A3': 71}

# Inverting a dictionary

In [54]:
fruit_to_colour = {
    'banana' : 'yellow',
    'cherry' : 'red',
    'orange' : 'orange',
    'pear' : 'green',
    'peach' : 'orange',
    'plum' : 'purple',
    'pomegranate' : 'red',
    'strawberry' : 'red'
}

# Invert fruit_to_color
# want to map color to fruit

colour_to_fruit = {}
for fruit in fruit_to_colour:
    colour = fruit_to_colour[fruit]
    colour_to_fruit[colour] = fruit

In [55]:
# there are duplicate color so we will miss some record 
# because key has to be unique
colour_to_fruit

{'green': 'pear',
 'orange': 'peach',
 'purple': 'plum',
 'red': 'strawberry',
 'yellow': 'banana'}

In [57]:
colour_to_fruit = {}
for fruit in fruit_to_colour:
    colour = fruit_to_colour[fruit]
    # if colour is not already a key in the accumulator,
    # add colour: [fruit] as an entry.
    if not (colour in colour_to_fruit):
        colour_to_fruit[colour] = [fruit]
    # otherwise, append fruit to the existing list
    else:
        colour_to_fruit[colour].append(fruit)

In [58]:
colour_to_fruit

{'green': ['pear'],
 'orange': ['orange', 'peach'],
 'purple': ['plum'],
 'red': ['cherry', 'pomegranate', 'strawberry'],
 'yellow': ['banana']}

In [59]:
colour_to_fruit['orange']

['orange', 'peach']

In [65]:
from tkinter.filedialog import askopenfile
def read_grades(gradefile):
    ''' (fili open for reading) -> dict of {float: list of str}
    
    Read the grades from gradefile and return a dictionary where each key is a grade 
    and each value is the list of ids of students who earned that grade.
    
    Precondition: gradefile starts with a header that contains no blank lines, 
    then has a blank line, and then lines containing a student number and a grade
    '''
    
    # skip over the header.
    line = gradefile.readline()
    while line != '\n':
        line = gradefile.readline()
    
    # read the grades, accumulating them into a dict
    
    grade_to_ids = {}
    line = gradefile.readline()
    
    while line != '':
        student_id = line[:4]
        grade = float(line[4:].strip())
        if not (grade in grade_to_ids):
            grade_to_ids[grade] = [student_id]
        else:
            grade_to_ids[grade].append(student_id)
        line = gradefile.readline()
    
    return grade_to_ids

In [66]:
gradefile = open('data/gradesfile.txt')
grade_dic = read_grades(gradefile)

In [70]:
grade_dic[66.0]

['8648',
 '4010',
 '8481',
 '4531',
 '5061',
 '4679',
 '2079',
 '2808',
 '5040',
 '5365',
 '3415']